html,body{
	/* font-family: 'Lato', sans-serif; */
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

body a{
	transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	-o-transition:0.5s all;
}

body input[type="text"],body input[type="submit"],body textarea,body input[type="button"]{
	-webkit-appearance:none;
}

/*------ TOPNAV STARTS---------*/
.wrap-navigator {
	display: flex;
	justify-content: space-between;
	height: 64px;
	background-color: #262626;
}

.wrap-navigator .logo {
	display: flex;
	align-items: center;
	margin-left: 35px;
	font-size: 24px;
}

.wrap-navigator .logo a {
	color: #c5d0de;
	text-decoration: none;
}

.wrap-navigator .logo a:hover {
	color: gray;
}

.wrap-navigator .nav{
	float:right;
	font-size: 1.5em;
	display: flex;
	align-items: center;
}

.wrap-navigator .nav ul {
	margin-bottom: 0;
	display: flex;
	align-items: flex-end;
}

.wrap-navigator .nav ul li{
	display:inline-block;
	margin-right: 35px;
	padding-top: 5px;
}

.wrap-navigator .nav ul li a{
	color:#c5d0de;
}

.wrap-navigator .nav ul li a:hover{
	color:gray;
	text-decoration:none;
}

/*------ HEADERBG STARTS---------*/
.headerbg {
	background:black;
	height: 650px;
}

.headerbg .container {
	width: 100%;
	height: 100%;
	padding: 0;
	position: relative;
}

.headerbg .container .completeNameUser {
	margin-top: 55px;
	margin-left: 55px;
	display: flex;
	font-size: 20px;
}

.headerbg .container .completeNameUser .nameUser {
	margin-right: 7px;
	color: rgb(161, 159, 159);
}

.headerbg .container .completeNameUser .lastnameUser {
	color: white;
}

.headerbg .container .avatarUser {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	margin-left: 25%;
	bottom: 0px;
}

.headerbg .container .avatarUser .backgroundImage {
	position: relative;
	width: 560px;
	height: 500px;
	background: linear-gradient(70deg, black, rgb(23, 29, 41));;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.headerbg .container .avatarUser .backgroundImage img {
	bottom: 0;
	display: flex;
	width: 560px;
	height: 500px;
}

.headerbg .container .avatarUser .test1 {
	position: absolute;
	z-index: 1000;
	left: 0;
	border-right: 60px solid transparent;
	border-top: 250px solid black;
	border-left: 60px solid black;
	border-bottom: 250px solid transparent;
}


.headerbg .container .avatarUser .test2 {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1000;
	border-right: 280px solid black;
	border-top: 45px solid black;
	border-left: 280px solid transparent;
	border-bottom: 45px solid transparent;
}

.headerbg .container .avatarUser .test3 {
	position: absolute;
	right: 0;
	bottom: 0;
	z-index: 1000;
	border-right: 60px solid black;
	border-top: 250px solid transparent;
	border-left: 60px solid transparent;
	border-bottom: 250px solid black;
}

.headerbg .container .bannerhead {
	position: absolute;
	z-index: 1001;
	padding-right: 5%;
	height: 50%;
	width: 40%;
	top: 50%;
	display: block;
	left: 60%;
}

.headerbg .container .bannerhead h3 {
	color: #4beaff;
	font-weight: bold;
}

.headerbg .container .bannerhead p {
	color: white;
	font-size: 18px;
}

.headerbg .container a.downarrow.scroll{
	position: absolute !important;
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
	bottom: 0;
	top: 89%;
	left: 50%;
}
/*------ HEADER STARTS---------*/
.header{
	height: 64px;
	background:rgba(0, 0, 0, 0.24);
}

a.downarrow  span{
 	height:48px;
    width:48px;
    background:url(../images/rowPageDown.png);
    display:inline-block;
}
a.downarrow{
  	display: block;
  	margin: 13em 27em 0;
	left: 17%;
}

/*------ About STARTS---------*/
.about{
	color:white;
	text-align:center;
	background:#212933;
}
.header-section h2{
	color: #C6C3C5;
	font-weight: 300;
	margin-top: 2.5em;
	margin: 0;
	padding: 2em 0 1em 0;
}
.header-section span{
	background: #8C868A;
	height:1px;
	width:20%;
	display:inline-block;
	vertical-align:middle;
}
.header-section span:nth-child(1){
	margin-right:10px;
}
.header-section span:nth-child(2){
	margin-left:10px;
}
.about span p{
	color: gray;
	line-height: 2em;
	margin-bottom: 4em;
	width: 71%;
	margin: 0 auto;
}
.years{
	margin-bottom:4em;
	color:#F1F0F0;
}
.years p{
	padding-top:1em;
	line-height:2em;
	font-size: 22px;
	width: 70%;
	margin:0 auto;
}
.years a:link {
	color: #FFF;
}
#linkSemantics {
    color: #FFF;
}
.labs p{
	width: 50%;
	margin: 0 auto;
}
.years h4,.years span h4{
	margin-top:1em;
	font-size: large;
}
.arrow span{
	height:48px;
	width:48px;
	background:url(../images/rowPageDownBlue.png);
	display:inline-block;
}
a.arrow{
	margin:2em 0 4em 0;
	display:inline-block;
}
/*------Skill-Section STARTS---------*/
.skills{
	background:#191d20;
	position:relative;
	text-align: center;
}
.skill-section h2{
	color:#C6C3C5;
	font-weight:300;
	margin-top:2.5em;
}
.skill-section span{
	background: #8C868A;
	height:1px;
	width:20%;
	display:inline-block;
	vertical-align:middle;
}
.skill-section span:nth-child(1){
	margin-right:10px;
}
.skill-section span:nth-child(2){
	margin-left:10px;
}
.skill-grids{
	padding:3em 0;
}
.skill-grid h3{
	color:#FFF;
	font-size:1.8em;
}
.circle{
	color:#FFF;
}
#canvas{
	position:relative;
}
.down span{
	height:48px;
	width:48px;
	background:url(../images/rowPageDownBlue.png);
	display:inline-block;
}
a.down{
	margin: 2em 0 4em 0;
	display:inline-block;
}
/*------Skill-Section Ends---------*/
/*------Portfolio-Section STARTS---------*/
.Portfolio{
	background:#ffffff;
	text-align:center;
}
.Portfolio ul {
    list-style-type: none;
    font-size: medium;
}
.Portfolio li {
    padding: .3em;
}
.Portfolio span {
    background: url(../images/rowPageDownDarkBlue.png);
}
.Portfolio-section h2{
	color:#91898D;
	font-size:2em;
	padding:2em 0 1em;
	margin: 0;
}
.Portfolio-section span{
	background:#8C868A;
	height:1px;
	width:20%;
	display:inline-block;
	vertical-align:middle;
}
.Portfolio-section span:nth-child(1){
	margin-right:10px;
}
.Portfolio-section span:nth-child(2){
	margin-left:10px;
}
.portfolio-grids{
	padding-top:2em;
}
.portfolio-grid{
	display:inline-block;
}
.portfolio-grid p{
	margin:3em 1em 0 1em;
	color:#504A4C;
	line-height:25px;
}
.portfolio-grid img{
	width:100%;
}
a.rightarrow  span{
	height:30px;
	width:30.5px;
	background:url(../images/rightarw.png);
	display:inline-block;
}
a.rightarrow{
	margin-top:1em;
	display:inline-block;
}
.portdown span{
	height:48px;
	width:48px;
	background:url(../images/bwn.png);
	display:inline-block;
	}
a.portdown{
	margin:4em 0 3em 1em;
	display:inline-block;
	}
/*------FOOTER STARTS---------*/
.footer{
	background: url(../images/footerbg.jpg);
	position: relative;
	min-height: 567px;
	background-size: cover;
	position:relative;
}
.contact-section h2{
	color:#D2D1D1;
	font-weight:300;
	font-size:2.5em;
	padding-top:1em;
}
.contact-section span{
	background: #8C868A;
	height:1px;
	width:20%;
	display:inline-block;
	vertical-align:middle;
}
.contact-section span:nth-child(1){
	margin-right:10px;
}
.contact-section span:nth-child(2){
	margin-left:10px;
}
.footer-left{
	margin-top:1em;
}
.social-icons{
}
.social-icons a img{
	margin-right:0.5em;
}
.social-icons a img:hover{
	opacity:0.8;
}
.footer-left p{
	color:#B5A9B7;
	width:80%;
	margin:2em 0 0 0em;
	line-height:2em;
}
.footer-right{
	text-align: right;
	margin-top: 1.3em;
}
.footer-right input[type="text"],.footer-right textarea{
	background:#170F12;
	color:#B5A9B7;
	padding: 1em 0.8em;
	width:75%;
	margin-bottom:1em;
	outline:none;
	border: solid 1.5px;
	border-color:#9A9A9A #EEEEEE #EEEEEE #9A9A9A;
}
.footer-right textarea {
	min-height:120px;
	resize:none;
}
.footer-right textarea{
	color:#B5A9B7;
}
.footer-right input[type="submit"]{
	text-align:center;
	float:right;
	color:#D2D1D1;
	font-size:1.2em;
	outline:none;
	padding:0.6em 1.5em;
	border:1px solid #B8ABAB;
	background:none;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-ms-transition:0.5s all;
	-o-transition:0.5s all;
}
.footer-right input[type="submit"]:hover{
	border-color:#FFF;
	color:#FFF;
}
.up{
	position:absolute;
	bottom: 9%;
    left: 49%;
}
.up span{
	height:48px;
	width:48px;
	background:url(../images/rowPageUpBlue.png);
	margin-top:2em;
	display:inline-block;
}
/*---- copy-right -----*/
p.copy-right{
	margin-top:1em;
	color:#999;
	font-size:1em;
	padding:0.8em 0;
	text-align:right;
}
p.copy-right a{
	color:#FFF;
	text-decoration:none;
}
 /*----- top-top -----*/
@media (max-width:1280px){
 	.years p {
		width: 60%;
	}
	.portfolio-grid p {
		margin: 2em 0em 0 0em;
	}
	.footer-left p {
		width: 90%;
	}
}
@media (max-width:1024px){
 	.years p {
		width: 80%;
	}
	.portfolio-grid p {
		margin: 2em 0em 0 0em;
	}
	.footer-left p {
		width: 90%;
	}
	.footer-right input[type="text"], .footer-right textarea {
		width: 87%;
	}
	.banner-info {
		top: 110px;
	}
	a.downarrow {
		top: 341px;
		left: 23%;
	}
	.years {
		margin-bottom: 2em;
	}
	.header-section h2 {
		padding: 1.2em 0 0.8em 0;
	}
}
@media (max-width:768px){
 	.years p {
		width: 80%;
	}
	.portfolio-grid p {
		margin: 2em 0em 0 0em;
	}
	.footer-left p {
		width: 90%;
	}
	.footer-right input[type="text"], .footer-right textarea {
		width: 100%;
	}
	a.downarrow {
		top: 241px;
		left: 32%;
	}
	.years {
		margin-bottom: 2em;
	}
	.header-section h2 {
		padding: 1.2em 0 0.8em 0;
	}
	.years h4, .years span h4 {
		margin: 0.5em 0 0 0;
	}
	.skill-grid {
		padding: 1.5em 0;
	}
	.skill-grids {
		padding: 1em 0;
	}
	a.down {
		padding: 0;
		position: absolute;
		left: 47%;
	}
	.skills {
		padding: 0 0 5em 0;
	}
	.skill-section h2 {
		margin-top: 1.5em;
	}
	a.arrow {
		margin: 1em 0 2em 0;
	}
	.portfolio-grids {
		padding-top: 1em;
	}
	.portfolio-grid {
		padding: 0 0 2em 0;
	}
	a.portdown {
		margin: 2em 0 2em 0em;
	}
	.contact-section h2 {
		padding-top: 0.5em;
	}
	.footer {
		padding: 0 0 10em;
	}
}
@media (max-width:640px){
 	.years p {
		width: 100%;
	}
	.portfolio-grid p {
		margin: 2em 0em 0 0em;
	}
	.footer-left p {
		width: 90%;
	}
	.footer-right input[type="text"], .footer-right textarea {
		width: 100%;
	}
	a.downarrow {
		top: 241px;
		left: 32%;
	}
	.years {
		margin-bottom: 2em;
	}
	.header-section h2 {
		padding: 1.2em 0 0.8em 0;
	}
	.years h4, .years span h4 {
		margin: 0.5em 0 0 0;
	}
	.skill-grid {
		padding: 1.5em 0;
	}
	.skill-grids {
		padding: 1em 0;
	}
	a.down {
		padding: 0;
		position: absolute;
		left: 47%;
	}
	.skills {
		padding: 0 0 5em 0;
	}
	.skill-section h2 {
		margin-top: 1.5em;
	}
	a.arrow {
		margin: 1em 0 2em 0;
	}
	.portfolio-grids {
		padding-top: 1em;
	}
	.portfolio-grid {
		padding: 0 0 2em 0;
	}
	a.portdown {
		margin: 2em 0 2em 0em;
	}
	.contact-section h2 {
		padding-top: 0.5em;
	}
	.footer {
		padding: 0 0 10em;
	}
	.about span p {
		margin-bottom: 2em;
	}
	.wrap-navigator {
		display: block;
		height: 128px;
	}

	.wrap-navigator .logo {
		width: 100%;
		height: 64px;
		margin: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: white;
	}
	
	.wrap-navigator .logo a {
		color: gray;
	}

	.wrap-navigator .nav {
		width: 100%;
		height: 64px;
		margin: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.bannerhead h3 {
		font-size: 2em;
		margin: 0.3em 0 0.3em;
	}
}
@media (max-width:480px){
 	.years p {
		width: 100%;
		line-height: 1.6em;
		padding: 0.5em 0 0 0;
	}
	.portfolio-grid p {
		margin: 2em 0em 0 0em;
	}
	.footer-left p {
		width: 100%;
		margin: 0.8em 0 0 0;
	}
	.footer-right input[type="text"], .footer-right textarea {
		width: 100%;
	}
	a.downarrow {
		top: 201px;
		left: 42%;
	}
	.years {
		margin-bottom: 2em;
	}
	.header-section h2 {
		padding: 0.8em 0 0.5em 0;
		line-height:1.5em;
	}
	.years h4, .years span h4 {
		margin: 0.5em 0 0 0;
	}
	.skill-grid {
		padding: 1.5em 0;
	}
	.skill-grids {
		padding: 1em 0;
	}
	a.down {
		margin: 1em 0 2em 0;
	}
	.skills {
		padding: 0 0 5em 0;
	}
	.skill-section h2 {
		margin-top: 0.5em;
	}
	a.arrow {
		margin: 1em 0 2em 0;
	}
	.portfolio-grids {
		padding-top: 1em;
	}
	.portfolio-grid {
		padding: 0 0 2em 0;
	}
	a.portdown {
		margin: 1em 0 2em 0em;
	}
	.contact-section h2 {
		padding-top: 0.5em;
	}
	.footer {
		padding: 0 0 6em;
	}
	.about span p {
		margin-bottom: 2em;
		width: 100%;
		line-height: 1.6em;
	}
	.nav ul{
		margin:0;
		padding:0;
	}
	.nav ul li {
		margin: 0.8em 0.5em;
	}
	.logo {
		margin: 0.8em 0 0em 0em;
		float:none;
		text-align:center;
	}
	.nav {
		float: none;
		text-align:center;
	}
	.skill-grid h3 {
		font-size: 1.5em;
	}
	.up {
		bottom: 1%;
		left: 47%;
	}
}
@media (max-width:320px){
 	.years p {
		width: 100%;
		line-height: 1.6em;
		padding: 0.5em 0 0 0;
	}
	.portfolio-grid p {
		margin: 1.2em 0em 0 0em;
		line-height: 1.5em;
	}
	.footer-left p {
		width: 100%;
		margin: 0.8em 0 0 0;
	}
	.footer-right input[type="text"], .footer-right textarea {
		width: 100%;
		padding: 0.8em;
	}
	a.downarrow {
		top: 171px;
		left: 42%;
	}
	.years {
		margin-bottom: 1.5em;
	}
	.header-section h2 {
		padding: 0.8em 0 0.5em 0;
		line-height:1.5em;
		font-size: 1.6em;
	}
	.about div.container{
		padding:0;
	} 
	.years h4, .years span h4 {
		margin: 0.5em 0 0 0;
	}
	.skill-grid {
		padding: 1em 0;
	}
	.skill-grids {
		padding: 1em 0;
	}
	a.down {
		padding: 0;
		position: absolute;
		left: 45%;
	}
	.skills {
		padding: 0 0 5em 0;
	}
	.skill-section h2 {
		margin-top: 0.5em;
		font-size: 1.6em;
	}
	a.arrow {
		margin: 1em 0 2em 0;
	}
	.portfolio-grids {
		padding-top: 1em;
	}
	.portfolio-grid {
		padding: 0 0 2em 0;
	}
	a.portdown {
		margin: 1em 0 2em 0em;
	}
	.contact-section h2 {
		padding-top: 0.5em;
		font-size: 1.6em;
	}
	.footer {
		padding: 0 0 6em;
	}
	.about span p {
		margin-bottom: 2em;
		width: 100%;
		line-height: 1.6em;
	}
	.nav ul{
		margin:0;
		padding:0;
	}
	.nav ul li {
		margin: 0.5em 0.2em;
	}
	.logo {
		margin: 0.8em 0 0em 0em;
		float:none;
		text-align:center;
	}
	.nav {
		float: none;
		text-align:center;
	}
	.skill-grid h3 {
		font-size: 1.5em;
	}
	.up {
		bottom: 1%;
		left: 47%;
	}
	.Portfolio-section h2 {
		font-size: 1.6em;
		padding: 1em 0 0.3em;
	}
	.footer-right input[type="submit"] {
		float: none;
		width:100%
	}
}